<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang="en">
<head>
    <link media="all" href="Static/jquery.treeview.css" type="text/css" rel="stylesheet" />
    <title>Testsuite Report</title>
    <script src="Static/jquery.js" type="text/javascript"></script>
	
    <link rel="stylesheet" href="Static/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
	<script src="Static/prettyPhoto/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>

    <script type='text/javascript' src='Static/jsondiff/jsondiffpatch.js'></script>
    <script type='text/javascript' src='Static/jsondiff/jsondiffpatch.html.js'></script>
    <script type='text/javascript' src='Static/jsondiff/diff_match_patch_uncompressed.js'></script>
	<link rel="stylesheet" href="Static/jsondiff/jsondiffpatch.html.css" type="text/css" />
</head>
<body>
    <script>
    	$(document).ready(function(){
    		$("#browser").treeview({collapsed: true,toggle: function() {console.log("%s was toggled.",$(this).find(">span").text());}});
    		$(".fullImg").hide();
    		$(".TextCellShow").hide();
            $(".thumbImg").click(function(){
                $(this).parents(".Image").children(".fullImg").show();
                $(this).parents(".Image").children(".thumbImg").hide();
            });
            $(".fullImg").click(function(){
                $(this).parents(".Image").children(".thumbImg").show();
                $(this).parents(".Image").children(".fullImg").hide();
            });
            $(".TextCellHidden").click(function(){
                $(this).parents("td.TextCell").parents("tr.TextRow").children("td.TextCell").children(".TextCellShow").show();
                $(this).parents("td.TextCell").parents("tr.TextRow").children("td.TextCell").children(".TextCellHidden").hide();
            });
            $(".TextCellShow").click(function(){
                $(this).parents("td.TextCell").parents("tr.TextRow").children("td.TextCell").children(".TextCellHidden").show();
                $(this).parents("td.TextCell").parents("tr.TextRow").children("td.TextCell").children(".TextCellShow").hide();
            });
			
            $("area[rel^='prettyPhoto']").prettyPhoto();
			$(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({social_tools:false, animation_speed:'normal',theme:'facebook',slideshow:3000, autoplay_slideshow: false});
			$(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({social_tools:false, animation_speed:'normal',theme:'facebook',slideshow:3000, autoplay_slideshow: false});
       	});
    	function displayJson(objContent, diffContent, category){
   			var initInput = objContent;
			try{
				var detail = diffContent;
				{
					for (var outerIndex in Object.keys(detail[category]))
					{
						var item = Object.keys(detail[category])[outerIndex];
						for (var innerIndex in Object.keys(detail[category][item]))
						{
							highkey = Object.keys(detail[category][item])[innerIndex];
							var tem=initInput[item][highkey];
							initInput[item][highkey]="<span style='background-color: yellow;'>"+tem+"</span>";
						}
					}
				}
			}
			catch(err){
				var duration = JSON.stringify(initInput, null, 4);
				return duration;
			}
   				//document.write(duration);
			var duration = JSON.stringify(initInput, null, 4);
   			return duration;
    	}
    	
        jsondiffpatch.config.objectHash = function(obj) {
            return obj._id || obj.id || obj.name || JSON.stringify(obj);
        };
        

        function compare_json(data1, data2, dom_place){
	            var json1 = data1, json2 = data2;                    
	            var d = jsondiffpatch.diff(json1, json2);
	            
	            if (typeof d == 'undefined') {
	            	
	                return 'no diff';
	            }
	            else {
	            	
	                 
	            $(dom_place).empty().append(jsondiffpatch.html.diffToHtml(json1, json2, d));
	            $('.jsondiffpatch-unchanged')['hide']();
	
	            }                   	
			}	
    	
    </script>
    <br />
	<div class="align_center">
	    <h1 id="banner">{{ result.name }}</h1>
	    <div id="main">
	        <div id="summary"> <!-- summary infos about test suite: including case number. passed, failed and crashed numbers -->
	        	<h3>Description:</h3>
	        	{% for line in result.description %}
	        	<span><b>   {{line[0]}}</b>  <span>{{line[1]}}</span></span><br />
	        	{% endfor %}
	        	<h3>Case Total Number: <span class="green">{{ result.case_number }}</span> </h3>
	        	<h3>Assertion Total Number: <span class="green">{{ result.assertion_number }}</span> </h3>
	            <h3>Number of passed cases: <span class="green">{{ result.passed_cases }}</span> </h3>
	            <h3>Number of failed cases:	<span class="red">{{ result.failed_cases }}</span>	</h3>
	            <h3>Number of crashed cases: <span class="red">{{ result.crash_cases }}</span>	</h3>
	            <h3>Time taken: <span class="green">{{ result.time_taken }}</span>	</h3>
            </div>
            <div id="detail"> <!-- detail of test case result, display all the checkpoint -->
	        <ul class="filetree treeview-famfamfam" id="browser">
            	<ul>
	                <li>
	                	{% if result.fail_message %}
		                	<span class="red"><b>Error Happens as below</b></span>
	                		<table class="table" width="80%" border="1">
	                            <tr>
	                                <th width=20%>Type</th>
									<th width=20%>Content</th>
									<th width=60%>Info</th>
	                            </tr>
	                            <tr>
	                                <td width=20%><span class="red"><b>{{ result.fail_message.type }}</b></span></td>
	                                <td width=20%>{{ result.fail_message.content }}</td>
	                                <td width=60%>{{ result.fail_message.line_info }}</td>
	                            </tr>        			
		                	</table>
		                {% endif %}
	                    <table class="table" width=500px>
	                    	<tr>
	                    		<th width=50%>Case Name</th>
	                    		<th width=30%>Case Status</th>
	                    		<th width=20%>New Baseline Found</th>
	                    	</tr>
	                    	{% for case_name,case_result in result.cases.iteritems() %}
	                        <tr>
	                            <th width=50%>
                                    <a href=#{{case_result.name}}>{{ case_result.name }}</a>
	                			</th>
		                        {% if not case_result.statusflag %}
                                    <th class="red" width=20%>{{ case_result.status }}</th>
                                {% else %}
                                    <th class="green" width=20%>{{ case_result.status }}</th>
                                {% endif %}
                                {% if case_result.baseline_status %}
                                	<th class="green" width=20%>No</th>
                                {% else %}
                                	<th class="red" width=20%>Yes, please run it again</th>
                                {% endif %}
	                        </tr>
	                        {% endfor %}
	                    </table>
	                </li>
                    <li class="hidden">
	                </li>
	            </ul>
		            {% for case_name,case_result in result.cases.iteritems() %}
		            <h3 class="blue"><a name={{case_result.name}}>{{ case_result.name }}</a>
		            	{% if not case_result.statusflag %}
                        	<a class="red">  - {{ case_result.status }}</a>
                        {% else %}
                            <a class="green">  - {{ case_result.status }}</a>
                        {% endif %}
		            	</h3> 
		                {% if case_result.fail_message %}
		                	<span class="red"><b>Error Happens as below</b></span>
	                		<table class="table" width="80%" border="1">
	                            <tr>
	                                <th width=20%>Type</th>
									<th width=20%>Content</th>
									<th width=60%>Info</th>
	                            </tr>
	                            <tr>
	                                <td width=20%><span class="red"><b>{{ case_result.fail_message.type }}</b></span></td>
	                                <td width=20%>{{ case_result.fail_message.content }}</td>
	                                <td width=60%>{{ case_result.fail_message.line_info }}</td>
	                            </tr>        			
		                	</table>
		                {% endif %}
		                {% if not case_result.baseline_status %}
		                	<span class="green"><b>New baseline generated for the case</b></span><br />
		                {% endif %}
		             	{% for line in case_result.description %}
   						<span class="stats"><b>{{line[0]}}</b>  </span><span>{{line[1]}}</span><br />
   						{% endfor %}
   						<br />
		            <span class="stats"><b>Passed assertions</b>: <span class="green">{{ case_result.passed_assertions }}</span></span>
		            <span class="stats"><b>Failed assertions</b>: <span class="red">{{ case_result.failed_assertions }}</span></span>
                    <span class="stats"><b>Time taken</b>: <span class="green">{{ case_result.time_taken }}</span></span>
                    {% for cp_name, cp in case_result.assertions.iteritems() %}
                    <div class="grid_6"> <!-- check point detail info -->
		                <div class="box">
                            <h2 class="blue"><b>{{ cp.name }}</b></h2>
		                    <span class="l"> </span>
		                    <span class="r"> </span>
		                    <div class="hide">
		                    	{% if not cp.statusflag %}
                                <span class="red">{{ cp.status }}</span>
                                {% else %}
                                <span class="green">{{ cp.status }}</span>
                                {% endif %}
		                    </div>
		                    <div class="block">
		                        <div class="block_in">
		                            <ul>
		                                <li>
		                                	{% if not cp.baseline_status %}
							                	<span class="green"><b>New baseline generated for the assertion</b></span><br />
							                {% endif %}
		                                    <table class="table">
		                                    	{% if cp.comments and cp.status=="Passed with known issues" %}
		                                    		<b>Comments: </b>{{ cp.comments }} 
		                                    		<br />
		                                    	{% endif %}
		                                    	{% if (not cp.statusflag and not cp.onfly_flag) or not cp.baseline_status %}
		                                    		<div align="right"><input type="checkbox" name="UpdateBaseline" value="{{ cp.path }}">update baseline</div>
		                                        {% endif %}
		                                        {% if cp.cptype=="Image" %}
		                                        <tr>
		                                            <th style="width:50px;">Similarity</th>
													<th>Baseline</th>
													<th>Test</th>
													<th>Detail</th>
		                                        </tr>
		                                        <tr>
		                                        <td>{{ cp.logic }}</td>
		                                        <td>
		                                        	<ul class="gallery clearfix">
	    												<li>
		    												<a href="{{ cp.detail.basevalue }}" rel="prettyPhoto[gallery2]" title="baseline Img"><img src="{{ cp.detail.basethumb }}" alt="" /></a>
		    											</li>
	    											</ul>
		                                        </td>
		                                        <td>
		                                        	<ul class="gallery clearfix">
	    												<li>
		    												<a href="{{ cp.detail.realvalue }}" rel="prettyPhoto[gallery2]" title="Img from test"><img src="{{ cp.detail.realthumb }}" alt="" /></a>
		    											</li>
	    											</ul>
		                                        </td>
		                                        <td> Similarity:     {{ cp.similarity }}
		                                            <br>
		                                            {% if cp.detail.diffvalue %}
		                                            <ul class="gallery clearfix">
	    												<li>
		    												<a href="{{ cp.detail.diffvalue }}" rel="prettyPhoto[gallery2]" title="diff Img"><img src="{{ cp.detail.diffthumb }}" alt="" /></a>
		    											</li>
	    											</ul>
		                                            {% endif %}
                                                    
		                                        </td>
		                                        </tr>
		                                        {% elif cp.cptype=="Text" or cp.cptype=="Bool" %}
		                                        <tr>
		                                            <th>Logic</th>
													<th>Baseline</th>
													<th>Current</th>
		                                        </tr>
		                                        <tr>
			                                        <td>{{ cp.logic }}</td>
			                                        <td>{{ cp.baseline }}</td>
			                                        <td>{{ cp.current }}</td>
		                                        </tr>
		                                        {% elif cp.cptype=="Data" %}
						                            <div class="grid_6">
							                                <input class="showunchanged_{{ cp.name}}" type="checkbox">
							                                <label for="showunchanged_{{ cp.name }}">
							                                    Show unchanged values
							                                </label>
							                                <script>$('.showunchanged_{{ cp.name }}').change(function(){$('.jsondiffpatch-unchanged')[this.checked ? 'slideDown' : 'slideUp']();});</script>
							                            </div>	
							                    	{% if cp.baseline_status %}
				                                <tr class="TextRow">
				                                	<td style="width:50px;">Baseline</td>
				                                	<td class="TextCell">
			                                        
			                                        <div class="TextCellHidden" style="font-size:100%">
			                                        click me to see full data
			                                        </div>
			                                        <div class="TextCellShow">
			                                        	<pre>
			                                        	<ul><script>
			                                        	var theInput = JSON.parse('{{cp.detail.basevalue}}');
			                                        	var duration = JSON.stringify(theInput, null, 4);
			                                        	document.write(duration);
			                                        	</script></ul>   
      													</pre>
													</div>												
			                                        </td>
				                                </tr>
				                                	{% endif %}
				                                <tr class="TextRow">
				                                	<td style="width:50px;">Current</td>
				                                	<td class="TextCell">
			                                        
			                                        <div class="TextCellHidden" style="font-size:100%">
			                                        click me to see full data
			                                        </div>
			                                        <div class="TextCellShow">
			                                        	<pre>
			                                        	<ul><script>
			                                        	var theInput = JSON.parse('{{ cp.detail.realvalue }}');
			                                        	var duration = JSON.stringify(theInput, null, 4);
			                                        	document.write(duration);
			                                        	</script></ul>   
      													</pre>
													</div>												
			                                        </td>
				                                </tr>
				                                <tr class="TextRow">

													<td style="width:50px;">Detail</td>
													<td class="TextCell">
			                                        <div class="TextCellHidden" style="font-size:100%">
			                                        click me to see full data
			                                        </div>
			                                        <div class="TextCellShow">
							                            <p class="visualdiff" id="visualdiff_{{ cp.name }}">						                            	
							                            </p>			                                        	
	      												<script>
	      												compare_json(JSON.parse('{{ cp.detail.basevalue }}'), JSON.parse('{{ cp.detail.realvalue }}'), '#visualdiff_{{ cp.name }}');
	      												</script>
													</div>
													
													</td>
		                                        </tr>
		                                        
		                                        {% elif cp.cptype=="HTTPResponse" %}

		                                        		<b>url: </b>{{ cp.detail.url }}<br />

						                            <div class="grid_6">
							                                <input class="showunchanged_{{ cp.name}}" type="checkbox">
							                                <label for="showunchanged_{{ cp.name }}">
							                                    Show unchanged values
							                                </label>
							                                <script>$('.showunchanged_{{ cp.name }}').change(function(){$('.jsondiffpatch-unchanged')[this.checked ? 'slideDown' : 'slideUp']();});</script>
							                            </div>	
					                                <tr class="TextRow">
					                                	<td style="width:50px;">API Info</td>
					                                	<td class="TextCell">
				                                        
				                                        <div class="TextCellHidden" style="font-size:100%">
				                                        click me to see full data
				                                        </div>
				                                        <div class="TextCellShow">
				                                        	<pre>
				                                        	<ul>
				                                        		<script>
				                                        		var theInput = JSON.parse('{{ cp.detail.api }}');
				                                        		var duration = JSON.stringify(theInput, null, 4);
				                                        		document.write(duration);
				                                        		</script>
				                                        	</ul>   
	      													</pre>
														</div>												
				                                        </td>
					                                </tr>
					                                {% if cp.baseline_status %}
					                                <tr class="TextRow">
					                                	<td style="width:50px;">Baseline</td>
					                                	<td class="TextCell">
				                                        
				                                        <div class="TextCellHidden" style="font-size:100%">
				                                        click me to see full data
				                                        </div>
				                                        <div class="TextCellShow">
				                                        	<pre>
				                                        	<ul>
				                                        		<script>
				                                        		var theInput = JSON.parse('{{cp.detail.basevalue}}');
				                                        		var duration = JSON.stringify(theInput, null, 4);
				                                        		document.write(duration);
				                                        		</script>
				                                        	</ul>   
	      													</pre>
														</div>												
				                                        </td>
					                                </tr>
					                                {% endif %}
					                                <tr class="TextRow">
					                                	<td style="width:50px;">Current</td>
					                                	<td class="TextCell">
				                                        
				                                        <div class="TextCellHidden" style="font-size:100%">
				                                        click me to see full data
				                                        </div>
				                                        <div class="TextCellShow">
				                                        	<pre>
				                                        	<ul><script>
				                                        	var theInput = JSON.parse('{{cp.detail.realvalue}}');
				                                        	var duration = JSON.stringify(theInput, null, 4);
				                                        	document.write(duration);
				                                        	</script></ul>   
	      													</pre>
														</div>												
				                                        </td>
					                                </tr>
					                                <tr class="TextRow">
	
														<td style="width:50px;">Detail</td>
														<td class="TextCell">
				                                        <div class="TextCellHidden" style="font-size:100%">
				                                        click me to see full data
				                                        </div>
				                                        <div class="TextCellShow">
								                            <p class="visualdiff" id="visualdiff_{{ cp.name }}">						                            	
								                            </p>			                                        	
		      												<script>
		      												compare_json(JSON.parse('{{cp.detail.basevalue}}'), JSON.parse('{{cp.detail.realvalue}}'), '#visualdiff_{{ cp.name }}');
		      												</script>
														</div>
														
														</td>
			                                        </tr>
		                                        {% endif %}
		                                    </table>
		                                </li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		            </div>

                    {% endfor %}
	            {% endfor %}
	        </ul>
	    </div>
	    
	   </div>
	   {% if result.assertion_number>0 %}
	   <div align="left">    
		   	<style type="text/css" name="123">
			       .textalign {width:150px;float:left;clear:both;}
			</style>
	    	<script type="text/javascript">
				var protocol = window.location.protocol;
				{% if bsinfo.svn_message %}
					document.write('<div><div class="textalign">SVN Message: </div><span class="red"> {{ bsinfo.svn_message }} </span></div><br><br>');
				{% endif %}
				document.write('<div><div class="textalign">SVN Link: </div><input type="text" id="svnlink" value="{{ bsinfo.svn_baseline_link }}" size="100"></div><br>');
				document.write('<div><div class="textalign">SVN Comments: </div><input type="text" id="comment" placeholder="Enter svn checkin comments" size="100" value=""></div><br>');
				document.write('<div><div class="textalign">Output Path: </div><input type="text" id="output_path" value="{{ bsinfo.output_path }}" size="100"></div><br>');
				document.write('<div><div class="textalign">Baseline Path: </div><input type="text" id="baseline_path" value="{{ bsinfo.baseline_path }}" size="100"></div><br>');
				if (protocol == "http:" || protocol == "https:"){
					document.write('<div><div class="textalign">CI Job Link: </div><input type="text" id="ci_link" value="{{ bsinfo.ci_link }}" size="100"></div><br>');
					document.write('<div align="right"><input type="button" onclick="update_baselines_remote()" value="Generate Update Link"></div>');
				}else if(protocol == "file:"){
					document.write('<div align="right"><input type="button" onclick="update_baselines_local()" value="Generate Update Link"></div>');
				}
				document.write('<div align="right"><a href="" id="update_baseline" style="display:none">Update Baseline</a>');
				function update_baselines_remote(){
	        		var cp=document.getElementsByName("UpdateBaseline");  
	        		var baseurl = "{{ bsinfo.chorus_server }}";
					if (baseurl == null){
	        			alert("Please specify a Chorus_Server in either config or environment parameters");
	        			return;
	        		}
	        		var path="/update_baseline";
	        		var baseline = [];
	        		for(var i=0;i<cp.length;i++){
	           			if(cp[i].checked){
	           				baseline.push(cp[i].value);
	            		}        
	        		}
	        		if (baseline.length == 0){
	        			alert("Please select baselines to be updated!");
	        			return;
	        		}
	        		var data = new Object();
	        		data.baseline = baseline;
	        		data.svnlink = document.getElementById("svnlink").value;
	        		data.comment = document.getElementById("comment").value;
	        		data.output_path = document.getElementById("output_path").value;
	        		data.baseline_path = document.getElementById("baseline_path").value;
	        		data.ci_link = document.getElementById("ci_link").value;
	        		data.suite_name = "{{ result.name }}";
	        		content = JSON.stringify(data);
	        		url = baseurl + path + "?data=" + encodeURIComponent(content);
	        		link = document.getElementById("update_baseline");
	        		link.innerHTML = "Update Remote Baseline in SVN";
	        		link.style.display="block";
	        		link.href = url;
				}
				function update_baselines_local(){
	    			var cp=document.getElementsByName("UpdateBaseline");  
	        		var baseurl = "{{ bsinfo.chorus_home }}";
	        		var path="/update_baseline";
	        		var baseline = [];
	        		for(var i=0;i<cp.length;i++){
	           			if(cp[i].checked){
	           				baseline.push(cp[i].value);
	            		}        
	        		}
	        		if (baseline.length == 0){
	        			alert("Please select baselines to be updated!");
	        			return;
	        		}
	        		var data = new Object();
	        		data.baseline = baseline;
	        		if (document.getElementById("svnlink")){
	        			data.svnlink = document.getElementById("svnlink").value;
	        			data.comment = document.getElementById("comment").value;
	        		}
	        		data.output_path = document.getElementById("output_path").value;
	        		data.baseline_path = document.getElementById("baseline_path").value;
	        		data.suite_name = "{{ result.name }}";
	        		content = JSON.stringify(data);
	        		url = baseurl + path + "?data=" + encodeURIComponent(content);
	        		link = document.getElementById("update_baseline");
	        		link.style.display="block";
	        		link.href = url;
	        		if (document.getElementById("svnlink")){
	        			link.innerHTML = "Update Local Baseline in SVN";
	        		}
	        		else{
	        			link.innerHTML = "Update Local Baseline without Checkin";
	        		}
				}
			</script>             
        </div>
        {% endif %}
        <p><br></p> <!--add <br> for Firefox-->
	    
	    <div id="container">
	    <div id="footer">
	        <span>Reported by Chorus</span>
	    </div>
	</div>
  </div>
</body>
</html>
